<%= form_for @recommendation do |f| %>

  <div class="row">
    <div class="column small-8">
      <div class="model-title">
        <h2><%= t('recommendation') %></h2>
      </div>
    </div>
    <div class="column small-4">
      <div class="list-new-action"><h4><%= link_to t('cancel'), recommendations_path %> <%= f.submit t('save') %></h4></div>
    </div>
  </div>
  <div class="row">
    <div class="column small-12">
      <div class="model-body">
        <div class="row">
          <div class="column small-9">
            <%= f.label :title, t('fields.title') %>
            <%= f.text_field :title, value: @recommendation.title, placeholder: t('fields.title') %>
          </div>
          <div class="column small-1">
              <%= f.label :number, t('number') %>
              <%= f.text_field :number, value: @recommendation.number, placeholder: t('fields.number') %>
          </div>
          <div class="column small-2">
            <label> <%= t('status') %>
              <input type="text" placeholder="status" />
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
