<h3>Progress report added or updated for <%= @indicator.title %></h3>

<p>
  Hi <%= @manager_name %>,
</p>

<p>
  A progress report was added or updated for a Human Rights Body (<a href="<%= @client_url %>/categories/<%= @category.id %>"><%= @category.title %></a>) you were assigned to.
</p>

<p>
You can review and publish the progress report here: <a href="<%= @client_url %>/reports/<%= @progress_report.id %>"><%= @progress_report.title %></a>.
</p>

<p>
  Thank you!
</p>
