<h3>Progress report updated for <%= @indicator.title %></h3>

<p>
  Hi <%= @progress_report.manager_name %>,
</p>

<p>
  A progress report was updated for a Human Rights Body (<a href="<%= @client_url %>/categories/<%= @category.id %>"><%= @category.title %></a>) you were assigned to.
</p>

<p>
  Visit the <a href="<%= @client_url %>/indicators/<%= @indicator.id %>">indicator page</a> to review progress reports.
</p>

<p>
  Thank you!
</p>
