<div class="row">
  <div class="column small-8">
    <div class="model-title">
      <h2><%= t('actions') %></h2>
    </div>
  </div>
  <div class="column small-4">
    <div class="list-new-action"> <h4> <%= link_to t("edit"), edit_action_path(@action) %> </h4></div>
  </div>
</div>
<div class="row">
  <div class="column small-12">
    <div class="model-body">
      <div class="field-body">
          <div class="row">
            <div class="column small-9">
                <h4> <%= @action.title %> </h4>
            </div>
            <div class="column small-1">
              <row> <%= t('description') %> </row>
              <row> <%= @action.description %> </row>
            </div>
            <div class="column small-2">
                <%= t('status') %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
