<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "row column authentication-form" } ) do |f| %>
  <%= content_tag :h4, t("passwords.edit.form.heading"), class: "text-center" %>
  <%= render "devise/shared/form_errors", resource: f.object %>

  <%= f.hidden_field :reset_password_token %>

  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "off" %>
  <% if @minimum_password_length %>
    <p class="help-text">(<%= @minimum_password_length %> characters minimum)</p>
  <% end %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>

  <p>
    <%= f.submit t("passwords.edit.form.submit"), class: "button expanded" %>
  </p>
  <p class="text-center"><%= render "devise/shared/links" %></p>
<% end %>
