<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "row column authentication-form" } ) do |f| %>
  <%= content_tag :h4, t("sessions.new.form.heading"), class: "text-center" %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, placeholder: true %>

  <%= f.label :password %>
  <%= f.password_field :password, placeholder: true %>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  <% end -%>

  <p>
    <%= f.submit t("sessions.new.form.submit"), class: "button expanded" %>
  <p>
  <p class="text-center"><%= render "devise/shared/links" %></p>
<% end %>
