<div class="row">
  <div class="column small-8">
    <div class="model-title">
      <h2><%= t('indicator') %></h2>
    </div>
  </div>
  <% if policy(@indicator).edit? %>
    <div class="column small-4">
      <div class="list-new-action">
        <h4><%= link_to t("edit"), edit_indicator_path(@indicator) %></h4>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="column small-12">
    <div class="model-body">
      <div class="field-body">
          <div class="row">
            <div class="column small-9">
                <h4> <%= @indicator.title %> </h4>
            </div>
            <div class="column small-1">
              <row><%= t('fields.description') %></row>
              <row><%= @indicator.description %></row>
            </div>
            <div class="column small-2">
                Status
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
