<%= form_for [@taxonomy, @category] do |f| %>
  <div class="row">
    <div class="column small-8">
      <div class="model-title">
        <h2><%= t('category') %></h2>
      </div>
    </div>
    <div class="column small-4">
      <div class="list-new-action"><h4><%= link_to t('cancel'), taxonomy_path(@taxonomy) %> <%= f.submit t('save') %></h4></div>
    </div>
  </div>
  <% if @category.errors %>
    <div class="row error-message">
      <% @category.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="column small-12">
      <div class="model-body">
        <div class="row">
          <div class="column small-9">
            <%= f.label :title, t('fields.title') %>
            <%= f.text_field :title, value: @category.title, placeholder: t('fields.title') %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
