<div class="sitewide-header">
  <%= image_tag "logo.svg", alt: t('sitewide_header.logo.alt'), class: "sitewide-header--logo" %>
  <h1 class="sitewide-header--title">
    <%= t('sitewide_header.title.main') %>
    <br />
    <small><%= t('sitewide_header.title.sub') %>
  </h1>
  <% if user_signed_in? %>
    <%= link_to "Edit password" , edit_user_password_path %> |
    <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %>
    <% if current_user.role? "admin" %>
      | <%= link_to "Users", users_path %>
    <% end %>
  <% end %>
</div>
