<div class="row">
  <div class="column small-8">
    <div class="model-title">
      <h2><%= t('measure') %></h2>
    </div>
  </div>
  <% if policy(@measure).edit? %>
    <div class="column small-4">
      <div class="list-new-action">
        <h4><%= link_to t("edit"), edit_measure_path(@measure) %></h4>
      </div>
    </div>
  <%end%>
</div>
<div class="row">
  <div class="column small-12">
    <div class="model-body">
      <div class="field-body">
          <div class="row">
            <div class="column small-9">
                <h4><%= @measure.title %></h4>
            </div>
            <div class="column small-1">
              <row><%= t('description') %></row>
              <row><%= @measure.description %></row>
            </div>
            <div class="column small-2">
                <%= t('status') %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
