<h3>Progress report overdue for <%= @indicator.title %></h3>

<p>
  Hi <%= @category.manager_name %>,
</p>

<p>
  A progress report was due on <%= @due_date %> for a Human Rights Body (<a href="<%= @client_url %>/categories/<%= @category.id %>"><%= @category.title %></a>) you were assigned to.
</p>

<p>
  Visit the <a href="<%= @client_url %>/indicators/<%= @indicator.id %>">indicator page</a> to review due dates and progress reports.
</p>

<p>
  Thank you!
</p>
