<h3>Progress report overdue for <%= @indicator.title %></h3>

<p>
  Hi <%= @manager_name %>,
</p>

<p>
  A progress report was due on <%= @due_date %> for an indicator you were assigned to.
</p>

<p>
  Visit the <a href="<%= @client_url %>/indicators/<%= @indicator.id %>">indicator page</a> to submit your progress report.
</p>

<p>
  Thank you!
</p>
